* {
    margin: 0;
    padding: 2px;
    font-family: sans-serif;
  }
  header{
    background-color:antiquewhite
    border-radius 13px
  }
  .header_nav{
    width: 1000px;
    background-image: url("https://t3.ftcdn.net/jpg/03/91/46/10/240_F_391461057_5P0BOWl4lY442Zoo9rzEeJU0S2c1WDZR.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    padding: 10px;
    color: rgba(255, 248, 220, 0.726);
}
.header_nav h1 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic; 
    color: coral;
}
.header_nav img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.search_container button{
  margin: 0;
  padding: 3px 10px;
  background-color: blue;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-size: 17px;
}
.search_container input{
  width: 300px;
  padding: 5px 10px;
  background-color: rgb(226, 136, 17);
  outline: none;
  font-size: 18px;
  border-radius: 16px;
  color: black;
}
header ul li a{
  text-decoration: none;
  color: rgb(235, 200, 148);
}
.header_nav ul {
  list-style: none;
  cursor: pointer;
}

